/* .Noticeboard {
    flex-direction: column;
  } */
.NoticeBoard-heading{
    font-size: 1.2rem;
    font-weight: 700;
    color: grey;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(186, 182, 182);
}
.Notice-Boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgray; 
    padding-bottom:2rem;
    margin-bottom:3rem;
  }
.NoticeBox{
    width:100%;
  }
.News, .Events {
    width:90%;
    height: 200px; 
    background-color: rgb(252, 249, 249); 
    margin:auto;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  @media (min-width:1200px){
    .NoticeBox{
        width:50%;
      }
      .News, .Events {
        width:80%;
      }
  }
.news-title,.events-title{
    margin-right:490px;
    margin-top: 20px;
    list-style: 20px;
    border-left: 5px solid rgb(36, 36, 144);
    margin-left: 80px;
    font-weight: 700;
    color: rgb(224, 11, 11);
}
.Newslist{
    padding:2rem;
    text-align: left;
    font-size:.8rem;
    color:rgb(91, 92, 92);
    font-weight: 500;
}
button{
    padding:.5rem 1rem;
    background:rgb(36, 36, 144);
    color:white;
    border:2px solid rgb(36, 36, 144);
    border-radius: 9px;
    margin-left:10rem;
    transition:all ease-in .2s;
}
button:hover{
    transform:scale(1.1);

}
@media (min-width:520px) {
    button{
        padding:.5rem 1rem;
        background:rgb(36, 36, 144);
        color:white;
        border:2px solid rgb(36, 36, 144);
        border-radius: 9px;
        margin-left:20rem;
    }
}
